__pycache__
db.sqlite3
webapp_pathao/settings.py
main/static/result/filtered_data.csv
main/static/result/numberFiltered_data.csv
main/static/result/offline_result.csv
main/static/result/result_bar.png
main/static/result/result_table.png
main/static/result/trip_data.csv
main/static/result/quest/*
script/image_transcription_automation/images
script/image_transcription_automation/output
script/image_transcription_automation/*.csv
script/accounts_collection/*
!script/accounts_collection/*.py
main/static/result/item_analysis/*.html
main/static/result/food_hourly/*html

