{% extends 'home.html' %} {% block title %} ITEM BASKET SIZE {% endblock %} 
{% block content %}
{% load static %}

<section class="content">

    <!-- <a class="btn btn-primary" href="/download_html" >                      
        <i class="fa fa-download"></i>
    </a> -->

    {% if r  %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe id = 'iframe1' class="embed-responsive-item" src= {{"static/result/item_basket/"|add:user.get_username|add:"/item_basket.html"}} ></iframe>
</div>
{% endif %}

    {% if not r %}
    <div class="wrapper wrapper--w790">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">ITEM BASKET SIZE</h2>
        </div>
    <div class="card-body">
     
      <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

          <div style="text-align:center;">
              <button class="btn btn-primary btn-lg" type="submit" name="get_item_basket" style= "background-color: #004B88;">Analyze Data</button>
          </div>
      </form>
  {% endif %}

    </div>
</div>
</div>
</section>

<style>

input[type=text]:focus {
border: 3px solid rgb(8, 8, 8);
}
input[type=radio] {
width: 18px;
height: 18px;
}
.card_text { height: 300px; overflow-x: scroll; width: 100%; }

#snackbar {
visibility: hidden;
min-width: 250px; 
margin-left: -125px; 
background-color: rgb(219, 238, 250);
color: rgb(13, 13, 14); 
text-align: center; 
border-radius: 2px; 
padding: 16px; 
position: fixed; 
z-index: 1; 
left: 60%; 
bottom: 30px; 
}

#snackbar.show {
visibility: visible; 
-webkit-animation: fadein 0.3s, fadeout 0.3s 1.5s;
animation: fadein 0.3s, fadeout 0.3s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
} 
</style>
<script>
// refresh the screen for the back button 
var perfEntries = performance.getEntriesByType("navigation");

if (perfEntries[0].type === "back_forward") {
location.reload(true);
}



function copy(){
const text = document.getElementById('query').innerText

const btnText = document.getElementById('copy')
navigator.clipboard.writeText(text);
var x = document.getElementById("snackbar");
x.className = "show";

setTimeout(function(){ x.className = x.className.replace("show", ""); }, 700);
}

function readURL(input) {
filename = input.id;
if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
        $('.image-upload-wrap-'+filename).hide();
        // <!-- $('.file-upload-image-'+filename).attr('src', e.target.result); -->
        $('.file-upload-content-'+filename).show();
        $('.image-title-'+filename).html(input.files[0].name);
    };
    reader.readAsDataURL(input.files[0]);
} else {
    print("else condition: "+filename);
    removeUpload(filename);
}
}

function removeUpload(filename) {
$('.file-upload-input-'+filename).replaceWith($('.file-upload-input-'+filename).clone());
$('.file-upload-content-'+filename).hide();
$('.image-upload-wrap-'+filename).show();
clearInputFile($('#'+filename)[0]);
}

$('.image-upload-wrap-file1').bind('dragover-file1', function() {
$('.image-upload-wrap-file1').addClass('image-dropping-file1');
});
$('.image-upload-wrap-file1').bind('dragleave-file1', function() {
$('.image-upload-wrap-file1').removeClass('image-dropping-file1');
});

function clearInputFile(f){
console.log(f);
console.log("file value is: "+f.files)
console.log("clearing");
if(f.value){
    try{
        f.value = ''; 
    }catch(err){ }
    if(f.value){
        var form = document.createElement('form'),
            parentNode = f.parentNode, ref = f.nextSibling;
        form.appendChild(f);
        form.reset();
        parentNode.insertBefore(f,ref);
    }
}
console.log("cleared");
}
</script>
    </div>
  </div>
</section>

{% endblock %}