<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/opening.css" />
  </head>
  <body>    
    <div class="container">
      <h1>Welcome to Customer Segmenation and Analysis</h1>
      <div class="row">
        <a href="/admin"><button class="btn circular">Admin Login</button></a>          
        <a href="/user_login"><button class="btn circular">User Login</button></a>
      </div>
    </div>    
  </body>
</html>
