{% extends 'home.html' %} {% block title %} CHECK INFO {% endblock %} 
{% block content %}
{% load static %}
<section class="content">
      <div class="wrapper wrapper--w790">
        <div class="card card-5">
          <div class="card-heading">
            <h2 class="title">GET INFO is </h2>
          </div>
      <div class="card-body">
       {% if r and not p %}
        <!-- <h3>Please use <a href="https://bigbang.pathaointernal.com/queries/4492/" target="_blank">this</a> query and download the csv file <br> After downloading, drag and drop that file in the box below</h3> -->
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h4>Enter Customer ID</h4>
        <br>
        <!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
        <input class="form-control" list="datalistOptions" id="exampleDataList" name = 'selected_c_id'   placeholder="Type to search...">
        
        <datalist id="datalistOptions" name = 'selected_c_id'>
            {% for person in ready %}
                <option name = {{ person }} value = {{ person }} >{{ person }}
            {% endfor %}
        </datalist>
        <br><br>
        <div style="text-align:center;">
        <button class="btn btn-primary btn-lg"  type="submit" name="final_info" style= "background-color: #004B88;">Submit</button>
        </div>
        </form>

        {% endif %}
        {% if p %}
            <b> Customer ID is {{ customer_id }}</b>
            <br>
            <br>
            <table class="table table-hover">

                <thead>
                  <tr>
                    <th scope="col">StockCode</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">UnitPrice</th>
                    <th scope="col">Total_Spending</th>

                  </tr>
                </thead>

                <tbody>
                    {% for i in res %}
                  <tr>
                    <th scope="row">{{ i.StockCode }}</th>
                    <td>{{ i.Description }}</td>
                    <td>{{ i.Quantity }}</td>
                    <td>{{ i.UnitPrice }}</td>
                    <td>{{ i.Total_Spending }} </td>
                  </tr>
                  {% endfor %}
                  <b><td>TOTAL  :</td> </b>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td>{{ all_total }} </td>

                </tbody>
              </table>
              <br>
              <h5>{{ recom_t }}</h5>
              <br>
              {% for i in recom %}
                <li>{{ i }}</li>
                {% endfor %}
        {% endif %}
        </div> 
        <!-- {% if not r  %}
            <h3>Please First Input the Data File!</h3>
    {% endif %} -->
    </div> 

    </div>
    
</div>

</div>

</section>

<style>
input[type=radio] {
width: 18px;
height: 18px;
}
.card_text { height: 300px; overflow-x: scroll; width: 100%; }

#snackbar {
visibility: hidden;
min-width: 250px; 
margin-left: -125px; 
background-color: rgb(219, 238, 250);
color: rgb(13, 13, 14); 
text-align: center; 
border-radius: 2px; 
padding: 16px; 
position: fixed; 
z-index: 1; 
left: 60%; 
bottom: 30px; 
}

#snackbar.show {
visibility: visible; 
-webkit-animation: fadein 0.3s, fadeout 0.3s 1.5s;
animation: fadein 0.3s, fadeout 0.3s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
} 
</style>
<script>
// refresh the screen for the back button 
var perfEntries = performance.getEntriesByType("navigation");

if (perfEntries[0].type === "back_forward") {
location.reload(true);
}

function copy(){
const text = document.getElementById('query').innerText

const btnText = document.getElementById('copy')
navigator.clipboard.writeText(text);
var x = document.getElementById("snackbar");
x.className = "show";

setTimeout(function(){ x.className = x.className.replace("show", ""); }, 700);
}

function readURL(input) {
filename = input.id;
if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
        $('.image-upload-wrap-'+filename).hide();
        // <!-- $('.file-upload-image-'+filename).attr('src', e.target.result); -->
        $('.file-upload-content-'+filename).show();
        $('.image-title-'+filename).html(input.files[0].name);
    };
    reader.readAsDataURL(input.files[0]);
} else {
    print("else condition: "+filename);
    removeUpload(filename);
}
}

function removeUpload(filename) {
$('.file-upload-input-'+filename).replaceWith($('.file-upload-input-'+filename).clone());
$('.file-upload-content-'+filename).hide();
$('.image-upload-wrap-'+filename).show();
clearInputFile($('#'+filename)[0]);
}

$('.image-upload-wrap-file1').bind('dragover-file1', function() {
$('.image-upload-wrap-file1').addClass('image-dropping-file1');
});
$('.image-upload-wrap-file1').bind('dragleave-file1', function() {
$('.image-upload-wrap-file1').removeClass('image-dropping-file1');
});

function clearInputFile(f){
console.log(f);
console.log("file value is: "+f.files)
console.log("clearing");
if(f.value){
    try{
        f.value = ''; 
    }catch(err){ }
    if(f.value){
        var form = document.createElement('form'),
            parentNode = f.parentNode, ref = f.nextSibling;
        form.appendChild(f);
        form.reset();
        parentNode.insertBefore(f,ref);
    }
}
console.log("cleared");
}
</script>
    </div>
  </div>
</section>

{% endblock %}
